@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


body
{
    margin: 0 0;
    width: 100%;
    background-color: #edf1fc;
    font-family: Roboto, sans-serif;
}

header
{
    height: 100%;
    color: #142B43;
    background-color: #9FC490;
    display: grid;
    grid-template-columns: 150px auto;
   
}
#logo-area
{
    
    margin: auto 3px;
}

.logo
{
    width: 80px;
}

nav 
{
    display: flex;
    justify-content: space-around;
}

nav a
{
    text-align: center;
    text-decoration: none;
    color: #090c20;
    padding: 35px;
}

nav a:hover
{
    background-color: #142B43;
    color: #6F9999;
}


.home-grid
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#image-self
{
    width: 100%;
    grid-column: 3/5;
    grid-row: 1/3;
    border: solid #82A3A1 .5em;
    border-radius: 10%;
}

#image-family
{
    width: 100%;
    grid-column: 2/6;
    grid-row: 3/5;
    border: solid #82A3A1 .5em;
    border-radius: 10%;
}

#about-me-aside
{
    grid-column: 7/12;
    grid-row: 1/5;
    height: 100%;

}

#about-me-aside h1
{
    text-align: center;
}

#about-me-content
{
    width: 80%;
    margin: auto;
    position: sticky;
    top: 10px;
    background-color: #465362;
    padding: 0 20px;
    border-radius: 10%;
    color: white;
    border: solid #82A3A1 .5em;
    overflow-y: auto;
    max-height: 80vh;
}

h1
{
    font-size: 28px;
    font-family: "Roboto Slab", sans-serif;
}



footer
{
    color: #142B43;;
    background-color: #9FC490;
    font-size:  1.25em;
    padding: 25px 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

footer a
{
    color: #142B43;
    text-decoration: none;
}

footer a:hover
{
    color: #4F3924;
}

footer p a:hover 
{
    text-decoration: underline;
}






/* Photography */

.photography-grid
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 150px 150px 150px auto 25px auto auto;

    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel
{
    grid-column: 2/12;
    grid-row: 1/4;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    position: relative;
    margin: auto;
    display: block;
    background-color: black;
}

.c-image
{
    display: none;
    width: 100%;
    height: 100%;

}

.c-image >  img
{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 1px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
    background-color: rgba(0,0,0,0.8);
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

  
.active
{
    background-color: #717171;
}

.fade 
{
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade 
{
    from {opacity: .4} 
    to {opacity: 1}
}

.description
{
    grid-column: 2/12;
    grid-row: 6/7;
    background-color: #465362;
    height: 100%;
    border-radius: 10%;
    color: white;
    border: solid #82A3A1 .5em;
    text-align: center;
    overflow-y: auto;
    padding: 0 20px;
}

.all-images
{
    height: 100%;
    grid-column: 2/12;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.all-images  img
{
    max-width: 100%;
    max-height: 100px;
    align-self: center;
    padding: 10px 10px;
}


/* Programming */

.programming-grid
{
    margin: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;

    padding: 50px 0px;
}
.program-card
{
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    background-color: #465362;
    text-align: center;
    border-radius: 10%;
    color: white;
    border: solid #82A3A1 .5em;
}

.program-img
{
    padding-top: 25px;
    height: 150px;
}

.program-name
{
    padding: 0 20px;
}

.program-desc
{
    padding: 0 20px;
}


@media screen and (max-width: 800px) 
{
    .home-grid
    {
        width: 90%;
        margin: auto;
        display: block;
        text-align: center;
    }

    #image-self, #image-family
    {
        max-height: 200px;
        width: auto;
    }

    #about-me-aside
    {
        text-align: left;
    }

    nav, footer 
    {
        flex-direction: column;
    }
    nav a 
    {
        display: block;
        padding: 15px;
    }
    footer 
    {
        margin-top: 25px;
    }
}